:host {
  display: block;
  margin-bottom: var(--ta-checkbox-margin-bottom, 16px);
}

input[type="checkbox"] {
  opacity: 0;
  outline: none;
}

label {
  position: relative;
  display: inline-block;
  color: var(--primary-text-color);
  font-size: 14px;

  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 8px;

  outline: none;
}

label::before,
label::after {
  position: absolute;
  content: "";

  display: inline-block;

  outline: none;
}

label::before {
  height: 16px;
  width: 16px;

  border: 1px solid #e2e6ef;
  left: -16px;
  border-radius: 6px;
  outline: none;

  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
   *to vertically center it.
   */
  top: -1px;
}

label::after {
  height: 3px;
  width: 8px;
  border-left: 2px solid #526981;
  border-bottom: 2px solid #526981;

  transform: rotate(-45deg);

  left: -12px;
  top: 5px;

  outline: none;
}

input[type="checkbox"] + label::after {
  content: none;

  outline: none;
}

input[type="checkbox"]:checked + label::after {
  content: "";

  outline: none;
}
