:host {
  display: block;
}

ta-button {
  --ta-button-width: 150px;
}

.cards {
  margin-bottom: 30px;
}

stripe-elements::part(stripe) {
  border-radius: var(--border-radius);
  border: solid 2px var(--light-border-color);
  box-shadow: none;
  height: 42px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: var(--ta-input-bg-color, var(--primary-input-bg-color));
  color: var(--primary-text-color);
  width: 100%;
  font-size: 20px;
}

stripe-elements[complete]::part(stripe) {
  border-color: var(--material-green-a700, #00C853);
}

stripe-elements[invalid]::part(stripe) {
  border-color: var(--material-amber-a700, #FFAB00);
}

stripe-elements[error]::part(stripe) {
  border-color: var(--primary-error-color);
}

stripe-elements::part(error) {
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-error-color);
}

.spin-icon {
  position: absolute;
  margin: auto;
  width: 15px;
  height: 15px;
  top: 12px;
  right: 20px;

  border: solid 2px #fff;
  border-top-color: #ff3b3b;
  border-left-color: #ff3b3b;
  border-right-color: #ff3b3b;
  border-radius: 20px;

  animation: loading-spinner 500ms linear infinite;
}
 