:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  height: 210px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.14);
}

.names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.no-image {
  height: 100%;
  position: relative;
  border-radius: 6px 6px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-card-image {
  height: 100%;
  border-radius: 6px 6px 0 0;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.file-card-image.default-img {
  background-size: initial;
  background-repeat: no-repeat;
}

.image-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top: solid 1px var(--light-border-color);
  border-bottom: solid 1px var(--light-border-color);
  border-radius: 0 0 6px 6px;
  padding: 0 4px;
  justify-content: space-around;
  min-height: 50px;
}

.details {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top: solid 1px var(--light-border-color);
  border-bottom: solid 1px var(--light-border-color);
  height: auto;
  border-radius: 0 0 6px 6px;
  padding: 0 4px;
  justify-content: space-around;
  min-height: 50px;
}

.tags {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100px;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.tags::-webkit-scrollbar {
  display: none;
}

.tag {
  padding: 2px;
  font-size: 12px;
  color: white;
  background-color: var(--primary-text-color);
  border-radius: 3px;
  margin-left: 2px;
  white-space: nowrap;
}

.file-name {
  font-size: 14px;
  color: var(--primary-text-color);
}

.other-details {
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: var(--light-text-color);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  /* z-index: 9; */
  border-radius: 6px 6px 0 0;
}

.control-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  height: 28px;
  width: 28px;
}

.control-icon:hover {
  background-color: white;
}

.control-icon ta-icon {
  cursor: pointer;
}

:host(:hover) .overlay {
  opacity: 1;
  transition: opacity 0.3s;
}

.controls {
  position: absolute;
  bottom: 4px;
  right: 10px;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

:host(:hover) .controls {
  opacity: 1;
  transition: opacity 0.4s;
}

ta-icon {
  --ta-icon-fill: #fff;
  --ta-icon-width: 14px;
  --ta-icon-height: 14px;
}

ta-icon:hover {
  --ta-icon-fill: var(--primary-color);
}

ta-modal {
  --ta-modal-height: 120px;
}
