.ta-sidebar-container {
  width: 283px;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

.ta-sidebar-wrapper {
  padding: 35px 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 70px);
}

.logo {
  display: flex;
  justify-content: center;
}

.add-btn {
  margin-top: 25px;
}

.links {
  margin-top: 50px;
}

ta-sidebar-item.first {
  --ta-sidebar-item-margin-top: 0;
}

.usage-title {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.06px;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.usage-stat {
  text-align: center;
}

.usage-amount {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.05px;
  color: #a6b7c7;
}

.add-btn-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  padding-right: 12px;
}

.add-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  padding-top: 2px;
  border-radius: 6px;
  right: 6px;
}

.add-icon.active {
  background-color: rgba(255, 255, 255, 0.2);
}

ta-icon {
  --ta-icon-fill: #ffffff;
}

.menu-content-wrapper {
  display: flex;
  flex-direction: column;
}

.menu-item {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 6px 0;
  padding-left: 8px;
  padding-right: 4px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e7ebf3;
}

.menu-item ta-icon {
  --ta-icon-fill: var(--primary-text-color);
  opacity: 0.35;
  padding-top: 2px;
}

ta-dropdown {
  --ta-dropdown-padding: 28px 20px;
}
