.custom-storage-item {
  width: 128px;
  height: 63px;
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 2px #fff;
}

.custom-storage-item.selected {
  border: solid 2px #fe6e71;
}

.custom-storage-options {
  display: flex;
  flex-wrap: wrap;
}

.onboarding-custom-storage-form {
  overflow-y: auto;
}

ta-input {
  --ta-input-bg-color: white;
}

ta-select {
  --ta-select-bg-color: white;
}