:host {
  display: block;
  height: 162px;
  border-radius: 12px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  cursor: pointer;
}

:host(.create) {
  opacity: .5;
}

:host(:hover) {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.44);
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: calc(100% - 40px);
}

a {
  text-decoration: none;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.06px;
  color: var(--primary-text-color);
  width: 200px;
}

.card-subtitle {
  margin-top: 3px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.05px;
  color: var(--extra-light-text-color);
}

.subtitle-block {
  margin-top: 4px;
  width: 95px;
  height: 11px;
  background-color: #c3cbd3;
}

.avatars {
  margin-top: 6px;
}

.icons {
  display: flex;
  justify-content: space-between;
}

ta-dropdown {
  --ta-dropdown-background-color: var(--primary-text-color);
  --ta-dropdown-box-shadow: 0 2px 12px 0 rgba(82, 105, 129, 0.25);
  --ta-dropdown-width: fit-content;
  --ta-dropdown-padding: 10px 8px;
  --ta-dropdown-transform: translate3d(-165px, 5px, 0);
  --ta-dropdown-initial-transform: translate3d(-165px, 0, 0px);
  --ta-dropdown-arrow-color: transparent;
}

.edit-menu-item {
  font-size: 14px;
  color: white;
  padding: 0 12px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 3px;
  white-space: nowrap;
}

.edit-menu-item:hover {
  background-color: var(--dark-text-color);
}

ta-modal {
  --ta-modal-height: 300px;
}

.vertical-dots-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.vertical-dots-icon:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.vertical-dots-icon.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.confirm-description {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #5e738e;
  margin-top: 0px;
}