:host {
  display: block;
  --ta-recent-application-list-margin: 30px 0 0 0;
  margin: var(--ta-recent-application-list-margin);
}

.title-action {
  margin-left: 35px;
}

.title {
  display: flex;
  align-items: center;
}

.title-text {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.09px;
  color: var(--primary-text-color);
}

.applications-list {
  margin-top: 33px;
  min-height: 120px;
  position: relative;
}

.application-list-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

a {
  text-decoration: none;
}

@media (max-width: 1400px) {
  .application-list-wrapper {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 768px) {
  .application-list-wrapper {
    grid-template-columns: auto;
  }
}

@media (max-width: 364px) {
  .title-action {
    display: none;
  }
}
