:host {
  display: block;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.09px;
  color: var(--primary-text-color);
}

label {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.05px;
  color: var(--dark-text-color);
  margin-bottom: 24px;
  display: block;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.close-icon {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.09px;
  text-align: center;
  color: var(--light-text-color);
  cursor: pointer;
}

ta-icon {
  --ta-icon-fill: #c3cbd3;
}
