:host {
  display: block;
}

.users-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.users-wrapper.full-width {
  grid-template-columns: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-actions {
  display: flex;
}

ta-icon {
  opacity: .5;
  cursor: pointer;
}

ta-icon.selected {
  opacity: 1;
}

ta-icon:nth-child(2) {
  margin-left: 17px;
}

@media (max-width: 1400px) {
  .users-wrapper {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1140px) {
  .users-wrapper {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 1080px) {
  .users-wrapper {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 866px) {
  .users-wrapper {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .users-wrapper {
    grid-template-columns: auto;
  }
}
