:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1.25rem;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.09);
  background: #fff;
  z-index: 99;
}

.logo img {
  height: 30px;
}

.toggle-menu {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-left: 15px;
}

.right-side {
  display: flex;
  align-items: center;;
}

.usage {
  text-align: center;
}

.usage-title {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.06px;
  color: var(--primary-text-color);
}

.usage-amount {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.05px;
  color: #a6b7c7;
}