:host {
  display: block;
  height: 58px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px 0 #00000024;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}

:host(.create) {
  opacity: .5;
}

:host(:hover) {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.44);
}

.wrapper {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left-side {
  display: flex;
  align-items: center;
  height: 100%;
}

.icon {
  width: 22px;
  ;
}

.name {
  margin-left: 18px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.06px;
  color: #526981;
}

.action-icon {
  margin-left: 18px;
}

.action-icon.plus {
  font-size: 19px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.05px;
  text-align: center;
  color: #526981;
}

.storage {
  margin-left: 24px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.05px;
  color: #a6b7c7;
}

.subtitle-block {
  margin-top: 4px;
  width: 95px;
  height: 11px;
  background-color: #c3cbd3;
}

.right-side {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}


a {
  text-decoration: none;
}

ta-dropdown {
  --ta-dropdown-background-color: var(--primary-text-color);
  --ta-dropdown-box-shadow: 0 2px 12px 0 rgba(82, 105, 129, 0.25);
  --ta-dropdown-width: fit-content;
  --ta-dropdown-padding: 10px 8px;
  --ta-dropdown-transform: translate3d(-165px, 5px, 0);
  --ta-dropdown-initial-transform: translate3d(-165px, 0, 0px);
  --ta-dropdown-arrow-color: transparent;
}

.edit-menu-item {
  font-size: 14px;
  color: white;
  padding: 0 12px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 3px;
  white-space: nowrap;
}

.edit-menu-item:hover {
  background-color: var(--dark-text-color);
}

ta-modal {
  --ta-modal-height: 300px;
}

.vertical-dots-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.vertical-dots-icon:hover {
  background-color: rgba(0, 0, 0, 0.04);
}


.vertical-dots-icon.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.confirm-description {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #5e738e;
  margin-top: 0px;
}
