.onboarding-step-view {
  display: flex;
  height: 100vh;
  flex-direction: row;
  overflow-y: hidden;
}

@media only screen and (max-width: 768px) {
  .onboarding-step-view {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
