/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

@import '../libs/toastr/index.css';

@font-face {
  font-family: 'SF Pro Text';
  src: url('/assets/fonts/SFProText-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #FE6E71;

  --primary-text-color: #526981;
  --dark-text-color: #63778d;
  --highlight-text-color: #e7ebf3;
  --light-text-color: #c3cbd3;
  --extra-light-text-color: #a6b7c7;
  --primary-error-color: #f93939;

  --light-border-color: #E2E6EF;

  --color-border-error: #ff3b3b;
  --border-radius: 6px;

  --multiselect-selected-option-bg-color: #38bdd3;
  --primary-input-bg-color: #f4f5f9;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "SF Pro Text";
  background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0;
}
